@use '../custom'as *;
@use '../components/mixins'as *;

.menu {
    background-color: $black;

    li {
    padding: 0 0.7rem;

    a {
      color: $teal-light;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 600;

    }

    &:hover {
      color: $white;
    }

  }

}